*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body{
  background-color: black;
}
header{
  padding: 24px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.logo{
  display: flex;
}

.logo > p{
  color: rgb(255, 73, 73);
  font-size: 35px;
  font-weight: bold;
}

nav{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

ul{
  display: flex;
  align-items: center;
  gap: 10px;
}

ul li a{
  color: rgba(255, 255, 255, 0.8);
  font-family: SF Compact;
  font-size: 20px;
  line-height: 24px;
}

.search{
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-header{
  padding: 10px 14px;
  background:none;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(0, 0, 0, 0.1);
  outline: none;
}

.avatar{
  margin-top: 5px;
}

.spiderman-item{
  display: flex;
}

.back-fon{
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  object-fit: contain;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                       rgba(0, 0, 0, 0.5)), url('../public/images/spiderman.jpg');
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.marvel{
  img{
    height: 100px;

  }
}

.info-spiderman{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;

  span{
    background: white;
    width: 3px;
    height: 3px;
    border-radius: 50%;
  }

  p{
    color: rgba(255, 255, 255, 0.8);
    font-family: SF Compact;
    font-size: 20px;
    font-weight: 460;
    line-height: 24px;
  }
}

.cb{
  padding: 6px 12px 6px 12px;
  width: 107px;
  height: 36px;
  border-radius: 36px;
  backdrop-filter: blur(40px);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.buttons-spiderman{
  display: flex;
  gap:20px;
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 205px;
  height: 55px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  backdrop-filter: blur(40px);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;

  span{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img{
    width: 9px;
    height: 9px;
    border-radius: 50%;
  }
}

.watch{
  color: rgb(38, 38, 38);
  background: rgba(255, 255, 255, 0.9);
  span{
    background: black;
  }
  img{
    background: black;
  }
}


.more{
  backdrop-filter: blur(40px);
  background: none;
  color: white;
  span{
    background: white;
    color: black;
    font-weight: 900;
    font-size: 18px;
  }
}